$s-facebook = 0px 0px 0px 0px 34px 32px 84px 64px 'sprite.png';
$s-google-plus = 34px 0px -34px 0px 33px 32px 84px 64px 'sprite.png';
$s-input-arrow = 67px 54px -67px -54px 11px 6px 84px 64px 'sprite.png';
$s-pinterest = 0px 32px 0px -32px 33px 32px 84px 64px 'sprite.png';
$s-slider_arrow_next_320 = 67px 0px -67px 0px 17px 27px 84px 64px 'sprite.png';
$s-slider_arrow_prev_320 = 67px 27px -67px -27px 17px 27px 84px 64px 'sprite.png';
$s-twitter = 33px 32px -33px -32px 33px 32px 84px 64px 'sprite.png';
